<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="somos.pallevar@gmail.com">
        <network host="smtp.gmail.com" password="wilson2021" port="587" userName="somos.pallevar@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="gochasquiConn" connectionString="Data Source=dbcomercio1.clieruvnonnl.us-east-2.rds.amazonaws.com;Initial Catalog=test1;User ID=admin1;Password=Cuarentena2020; Connect Timeout=7200" providerName="System.Data.SqlClient"/>-->
    <add name="gochasquiConn" connectionString="Data Source=72.167.41.171\SQLEXPRESS, 1433;Initial Catalog=pallevar;User ID=sa;Password=Pa11evar$2021; Connect Timeout=7200" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--Google Settings-->
    <add key="google_client_id" value="1097510552499-62tn087ec3npj9dmk5aq5hnkdqskf8a8.apps.googleusercontent.com" />
    <add key="google_client_secret" value="aWDGruwbH1JmBvdPJLKqY75R" />
    <add key="google_redirect_url" value="https://www.pallevar.net/login_usuario.aspx" />
    <add key="Googleurl" value="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;redirect_uri={0}&amp;scope=https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/userinfo.profile&amp;client_id={1}" />
    <add key="googleoAuthUrl" value="https://accounts.google.com/o/oauth2/token" />
    <add key="googleoAccessUrl" value="https://www.googleapis.com/oauth2/v1/userinfo?access_token=" />
    <!--Facebook Settings-->
    <add key="Facebook_AppId" value="307215540948316" />
    <add key="Facebook_AppSecret" value="6e3f035b2e825edf7a5005a6d212452f" />
    <add key="Facebook_RedirectUrl" value="https://localhost:44381/login_usuario.aspx" />
    <add key="Facebook_scope" value="email, public_profile" />
    <add key="Facebook_url" value="https://graph.facebook.com/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;scope={2}" />
    <add key="FacebookOAuthurl" value="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;scope={2}&amp;code={3}&amp;client_secret={4}" />
    <add key="FacebookAccessUrl" value="https://graph.facebook.com/me?fields=id,first_name,last_name,gender,locale,link,email,picture.type(large)&amp;access_token=" />

    <add key="dominio" value="https://www.pallevar.net" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWSGoChasqui" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://13.59.10.88/gcws1/WSGoChasqui.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSGoChasqui"
        contract="GCws1.IWSGoChasqui" name="BasicHttpBinding_IWSGoChasqui" />-->      
      <endpoint address="http://72.167.41.171/WSPaLlevar/WSGoChasqui.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSGoChasqui" contract="GCws1.IWSGoChasqui" name="BasicHttpBinding_IWSGoChasqui" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="home.aspx" />
            </files>
        </defaultDocument>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>